<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SOBRE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <img src="assets/adele.jpg.jpg" alt="">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Desenvolvido por </ion-card-title>

    </ion-card-header>

    <ion-item>
      <ion-icon name="happy-outline"></ion-icon>
      <h2>Adele</h2>
    </ion-item>

    <ion-item>
      <ion-icon name="mail-outline"></ion-icon>
      <h3>adele123@gmail.com</h3>
    </ion-item>

    <ion-item>
      <ion-icon name="search-outline"></ion-icon>
      <h3>www.adelemusic.com.br</h3>
    </ion-item>

    <ion-item>
      <ion-icon name="logo-instagram"></ion-icon>
      <h3>@adele_musicS2</h3> 
    
  </ion-item>
 
  <ion-item>
  <ion-icon name="logo-github"></ion-icon>
      <h3>githb.com/adelemusic</h3>
    </ion-item>

    <ion-item>
      <ion-icon name="information-outline"></ion-icon>
      <h3>Version: 0.0.1</h3>
    </ion-item>
  </ion-card>
</ion-content>
